<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2>User registration form</h2>
  <mat-card class="box">
    <div class="container">

      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput [formControl]="nameFormControl" placeholder="Enter name">
        <!--<mat-icon matSuffix>directions_car</mat-icon>-->
      </mat-form-field>     <i class="fas fa-user fa-lg"></i>
      <br>
      <!-- <mat-form-field appearance="outline" appearance="fill"> -->
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput [formControl]="usernameFormControl" placeholder="Enter user name">

        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>        <i class="fas fa-user-tag fa-lg"></i>
      <mat-form-field hintLabel="Requires 9 digits">
        <input matInput #input [formControl]="passportFormControl" maxlength="9" minlength="9" placeholder="Enter passport number">
        <mat-hint align="end">{{input.value?.length || 0}}/9</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [formControl]="dateFormControl" placeholder="Enter birthdate">
        <mat-hint>optional</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
    </div>


    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Enter your password" [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">
        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select [formControl]="genderFormControl" placeholder="Select gender">
          <mat-option disabled value="">Gender:</mat-option>
          <mat-option value="one"><span><i class="fa fa-mars fa-lg"></i></span>Male</mat-option>
          <mat-option value="two"><span><i class="fa fa-venus fa-lg"></i></span>Female</mat-option>
          <mat-option value="three"><span id="spn"><i class="fa fa-venus-mars fa-lg"></i></span>Both</mat-option>
          <mat-option value="four"><span><i class="fa fa-neuter fa-lg"></i></span>Neither</mat-option>
          <mat-option value="five"><span><i class="fa fa-question fa-lg"></i></span>Undecided</mat-option>
        </mat-select>
        <mat-hint align="end">Hint select</mat-hint>
      </mat-form-field>

      <!-- </div>
      </mat-card>
      <mat-card class="box">
        <div class="container"> -->
      <mat-form-field class="example-full-width">
        <input matInput autocomplete="email" placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-divider></mat-divider>
      <br>
      <mat-form-field>
        <mat-label>Picture Url</mat-label>
        <input matInput [formControl]="pictureFormControl" placeholder="Enter url">
        <mat-hint>optional</mat-hint>
        <mat-icon matSuffix>directions_car</mat-icon>
      </mat-form-field>
    </div>
  </mat-card>
  <div class="box">
    <button mat-raised-button primary type="submit">Submit   <mat-icon matSuffix>edit</mat-icon></button>
  </div>
</form>
