<h2>Manage Users and Employees</h2>
<mat-card class="table">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="UserId">Id</th>
      <th mat-sort-header="Fullname">Name</th>
      <th mat-sort-header="PassportNumber">Passport number</th>
      <th mat-sort-header="UserName">User name</th>
      <th mat-sort-header="Birthdate">Birthdate</th>
      <th mat-sort-header="Gender">Gender</th>
      <th mat-sort-header="Email">Email</th>
      <th mat-sort-header="Password">Password</th>
      <th mat-sort-header="PictureUrl">Pic</th>
      <th mat-sort-header="Permission">Permission</th>
    </tr>
    <mat-divider></mat-divider>
    <tr *ngFor="let u of sortedUsers">
      <td>{{u.UserId}}</td>
      <td>{{u.Fullname}}</td>
      <td>{{u.PassportNumber}}</td>
      <td>{{u.UserName}}</td>
      <td>{{u.BirthDate  | date :'shortDate' | date : 'd/M/y'}}</td>
      <td>{{u.Gender}}</td>
      <td>{{u.Email}}</td>
      <td>{{u.Password}}</td>
      <td><img style="width: 40px;" src="{{u.PictureUrl ? userFolder + u.PictureUrl : (u.Gender=='male'?(userFolder + 'male.png'):(userFolder + 'female.jpg'))}}"
               title="{{u.Fullname + ' mugshot'}}" /></td>
      <td>{{u.Permission | permission}}</td>
      <button mat-raised-button color="primary" (click)="openDialog(u)"> Edit </button>
      <button mat-raised-button color="accent" (click)="deleteAttempt(u, this)"> Delete </button>
    </tr>
  </table>
</mat-card>
<mat-card class="sheet" (click)="deleteCheck=false" *ngIf="deleteCheck">
</mat-card>
<div class="modalAligner">
  <mat-card class="deleteModal" *ngIf="deleteCheck">
    <h2>Confirm delete</h2>
    <p>Do you really want to delete ?</p>
    <button mat-raised-button color="accent" (click)="delete()"> Confirm </button>
    <button mat-raised-button (click)="removeDeleteCheck()"> Remove delete check </button>
  </mat-card>
</div>
