<h2>Manage cars</h2>
<div class="tableWrapper">
  <mat-card class="table">
  <button class="newItemBtn" mat-raised-button color="accent" (click)="newCarSwitcher(); openDialog(newCar);"> New Car + </button>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="CarId">Car Id</th>
        <th mat-sort-header="CarType">Car Type</th>
        <th mat-sort-header="CarNumber">Car Number</th>
        <th mat-sort-header="Mileage">Mileage</th>
        <th mat-sort-header="FitForRental">Fit For Rental</th>
        <th mat-sort-header="Available">Available</th>
        <th mat-sort-header="Branch">Branch Address</th>
        <th mat-sort-header="PictureUrl">Picture Url</th>
      </tr>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <tr *ngFor="let car of sortedCars">
        <td>{{car.CarId}}</td>
        <td title="{{car.CarType.Manufacturer}} {{car.CarType.Model}}">{{car.CarType.Manufacturer}} {{car.CarType.Model}}</td>
        <td>{{car.CarNumber}}</td>
        <td>{{car.Mileage}}</td>
        <td>{{car.FitForRental}}</td>
        <td>{{car.Available}}</td>
        <!--<td>{{car.BranchId}}</td>-->
      <td>{{car.Branch.Address}}</td>
        <td title="{{car.PictureUrl}}">{{car.PictureUrl}}</td>
        <button mat-raised-button color="primary" (click)="openDialog(car)"> Edit </button>
        <button mat-raised-button color="accent" (click)="deleteAttempt(car)"> Delete </button>
      </tr>
    </table>
  </mat-card>
  <mat-card class="sheet" (click)="deleteCheck=false" *ngIf="deleteCheck">
  </mat-card>
  <div class="modalAligner">
    <mat-card class="deleteModal" *ngIf="deleteCheck">
      <h2>Confirm delete</h2>
      <p>Do you really want to delete ?</p>
      <button mat-raised-button color="accent" (click)="delete()"> Confirm </button>
      <button mat-raised-button (click)="removeDeleteCheck()"> Remove delete check </button>
    </mat-card>
  </div>
</div>
