<mat-card>
  <!--<mat-form-field>
    <input matInput [(ngModel)]="editedCar.CarTypeId" placeholder="CarType id">
  </mat-form-field>
  <br />-->
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.Manufacturer" placeholder="Manufacturer">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.Model" placeholder="Model">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.PricePerDay" placeholder="Price per day (£)">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.PricePerDayOver" placeholder="Delay charge (£)">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.YearOfManufacture" placeholder="YearOfManufacture">
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-select autocomplete="off" [(ngModel)]="editedCar.Transmission" placeholder="Select Transmission">
      <div class=""><mat-spinner *ngIf="!gears" color="warn"></mat-spinner></div>
      <mat-option *ngFor="let gear of gears" [value]=gear>{{gear}}</mat-option>
      <!--<mat-option [value]=gears[0]>{{gears[0]}}</mat-option>
  <mat-option [value]=gears[1]>{{gears[1]}}</mat-option>-->
    </mat-select>
  </mat-form-field>
  <!--<section class="switch">
    <span>Transmission</span>
    <mat-slide-toggle [(ngModel)] = "transmissionValue" (change)="toggle($event.checked, editedCar, 'Transmission')" class="switch" color="primary">
      {{editedCar.Transmission}}
    </mat-slide-toggle>
  </section>-->

  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="editedCar.PictureUrl" placeholder="PictureUrl">
  </mat-form-field>
  <br />
  <button mat-raised-button color="accent" (click)="save()"> Save </button>
</mat-card>
