<div class="flex">
  <div class="firstDiv">
    <img src={{assets+logo}} />
    <mat-card class="quote firstQuote">
      <h1>5th Wheel Rentals</h1>
      <h3>"Luxury that no-one needs"</h3>
      <p>You'll be hard pressed to find another company as dedicated as us, when it comes to providing you with services totally superfluous to your needs.</p>
      <p>Try us out! Our cars are all overpowered and largely impractical for urban use. </p>
    </mat-card>
  </div>

  <div class="secondDiv">
    <div>
      <img src={{assets+car1}} />
    </div>
    <mat-card class="quote secondQuote">
      <p>Aaron Fresh said "J'adore les voitures de sport françaises chères. Où puis-je conduire la Bugatti Divo autres que la 5th Wheel?"</p>
    </mat-card>
  </div>

  <div class="thirdDiv">
    <div>
      <img src={{assets+car2}} />
    </div>
    <mat-card class="quote thirdQuote">
      <p>Ben Chaimowitcz said "Nowadays, my friends and I always drive to mountain ski resorts in a fleet of Lamborghinis."</p>
    </mat-card>
  </div>

  <div class="secondDiv">
    <div>
      <img src={{assets+car3}} />
    </div>
    <mat-card class="quote secondQuote">
      <p>Eli Romanov said "זה לא בדיוק אותו שית"</p>
    </mat-card>
  </div>
</div>
