<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h2>User Login</h2>
  <mat-card class="box">
    <div class="container">

      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput autocomplete="log_name" [formControl]="usernameFormControl" placeholder="Enter user name">
        <mat-icon matSuffix>lock</mat-icon>
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput autocomplete="password" placeholder="Enter your password" [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <div class="container">

        <button mat-raised-button color="accent" type="submit">Login <mat-icon matSuffix>edit</mat-icon></button>
        <button mat-raised-button color="accent" type="button" (click)="logOut()">Logout</button><br />

      </div>
      <br />
      <mat-divider></mat-divider>
      <br />
      <div class="container">
        <span>Not registered?</span>
        <button mat-raised-button type="button" (click)="regRoute()">Register <mat-icon matSuffix>edit</mat-icon></button>
      </div>
    </div>
  </mat-card>

</form>
