<h2>Manage car returns</h2>
<mat-card class="table">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="RentalsId">Rental</th>
      <th mat-sort-header="StartDate">Began</th>
      <th mat-sort-header="DueBackDate">DueBackDate</th>
      <th mat-sort-header="ReturnedDate">Returned</th>
      <th mat-sort-header="CarId">Car</th>
    </tr>
    <mat-divider></mat-divider>
    <tr *ngFor="let r of sortedOpenRentals">
      <td>{{r.RentalsId}}</td>
      <td>{{r.StartDate | date :'shortDate' | date: 'd/M/yy'}}</td>
      <td>{{r.EndDate | date :'shortDate' | date: 'd/M/yy'}}</td>
      <td>{{r.Returned | date :'shortDate' | date: 'd/M/yy'}}</td>
      <td>{{r.CarId}}</td>
      <button mat-raised-button color="accent" (click)="openDialog(r)"> Return </button>
    </tr>
  </table>
</mat-card>
<button class="leftMargin" mat-raised-button color="primary" (click)="summonRentals()"> Clear returned cars </button>
