<h1>Checkout</h1>
<div class="carCardContainer">
  <div class="carCard">
    <mat-card>
      <h4 *ngIf="!car">Select a vehicle at the rentals tab!</h4>
      <div class="link" [routerLink]="" *ngIf="car">
        <div class="crop"><img src="{{car.PictureUrl}}" alt="{{car.CarType.Model}} image" onerror="this.src='https://banner2.kisspng.com/20180130/zye/kisspng-car-scalable-vector-graphics-icon-ford-shadow-5a710a7d5bfe42.4223607115173576933768.jpg'"></div>
        <br>
        {{car.CarType.Manufacturer}} {{car.CarType.Model}} - car Id: {{car.CarId}}<br><b>Mileage:</b> {{car.Mileage}}<br>
        <b>Available:</b> {{car.Available}}<br><b>Reg. No. </b>{{car.CarNumber}}<br><b>Located in</b> {{car.Branch.Address}}
      </div>
    </mat-card>
  </div>
  <!--<form [formGroup]="userForm" (ngSubmit)="onSubmit()">-->
  <div class="carCard" *ngIf="car">
    <mat-card *ngIf="rentalComplete"><h2>Enjoy your Car!</h2></mat-card>
    <mat-card *ngIf="!rentalComplete">
      <h3>Select dates for rental</h3>
      <mat-form-field>
        <input matInput (dateChange)="setDateStrings()" [matDatepicker]="startDate" [min]="minDate" [(ngModel)]="sDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput (dateChange)="setDateStrings()" [matDatepicker]="endDate" [min]="sDate ? sDate:minDate" [(ngModel)]="eDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <div *ngIf="sDate && eDate">
        From {{sString | date : 'd/M/yy'}}<br> till {{eString | date : 'd/M/yy'}}<br>
        at {{car.CarType.PricePerDay | currency: 'GBP'}} per day<br>
        totals {{car.CarType.PricePerDay*daysDifference | currency: 'GBP'}}<br>
        for {{daysDifference}} days<br>
        {{car.CarType.PricePerDayOver | currency: 'GBP'}} per day past {{eDate | date :'shortDate' | date : 'd/M/yy'}}<br>
        Please return punctually!
      </div>
      <button mat-raised-button type="submit" (click)="onSubmit()" color="accent">Accept</button>
    </mat-card>
  </div>
  <!--</form>-->
</div>
